[submodule "apps/roguelike"]
	path = apps/roguelike
	url = https://github.com/corynorris/roguelike.git
[submodule "apps/life"]
	path = apps/life
	url = https://github.com/corynorris/life.git
[submodule "apps/recipebox"]
	path = apps/recipebox
	url = https://github.com/corynorris/recipebox.git
[submodule "apps/voting-app-react"]
	path = apps/voting-app-react
	url = https://github.com/corynorris/voting-app-react.git
[submodule "apps/socket-io-chat-app"]
	path = apps/socket-io-chat-app
	url = https://github.com/corynorris/socket-io-chat-app.git
[submodule "apps/react-comment-box"]
	path = apps/react-comment-box
	url = https://github.com/corynorris/react-comment-box.git
[submodule "apps/url-shortener"]
	path = apps/url-shortener
	url = https://github.com/corynorris/url-shortener.git
[submodule "apps/spaced-repitition"]
	path = apps/spaced-repitition
	url = https://github.com/corynorris/spaced-repitition.git
[submodule "apps/video-api"]
	path = apps/video-api
	url = https://github.com/corynorris/video-api.git
